@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Oswald:wght@700&display=swap');

html {
    background-image: url("images/homebackground2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav {
    display: none;
    left: 0;
    width: 11.5%;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    background-color: rgba(241, 241, 241, 0.1);
    
}

nav.inactive {
    display: block;
    margin-left: -11.5%;
    animation-duration: 0.5s;
    animation-name: slideout;
}

nav.active {
    display: block;
    margin-left: 0;
    animation-duration: 0.5s;
    animation-name: slidein;
}

ul {
    list-style-type: none;
    font-size: 2vh;
    margin: 0;
    padding: 28vh 0 0 0;
    z-index: 1;
    text-align: center;
    display: block;
}

ul li a {
    text-decoration: none;
    display: block;
    font-weight: bold;
    color: #D9D9DF;
    letter-spacing: 2.5px;
    padding: 1em 0.5em;
    margin-top: 20%;
    z-index: 1;
    cursor: pointer;
}

ul li a:hover {
    background-color: rgba(103, 170, 247, 0.4);
}

img.dropdown {
    position: absolute;
    padding: 3%;
    margin-top: 12.5vh;
    width: 3.3%;
    height: auto;
}

@keyframes slidein {
    from {
      margin-left: -11.5%;
    }
  
    to {
      margin-left: 0%;
    }
}

@keyframes slideout {
    from {
      margin-left: 0;
    }
  
    to {
      margin-left: -11.5%;
    }
}